textarea, input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select[multiple=multiple], select {
    box-sizing: border-box;
    -webkit-transition: border-color;
    transition: border-color;
    background-color: white;
    border-radius: 0.125em;
    border: 1px solid #ececec;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    margin-bottom: 0.75em;
    padding: 0.5em 0.5em;
    // width: 100%;
    display: inline-box;
}

.login-raw-phone-number {
    margin-left: 80px;
    width: calc(100% - 60px) !important;
    display:list-item;
}

label {
    margin-bottom: 0.375em;
    display: block;

    @media (max-width: $breakpoint-tablet) {

    }
}

.login-country-code {
    width: 60px;
    font-family: "Courier New", Courier, monospace;
    float: left;
    font-size: 1em;
    line-height: normal;
    -webkit-appearance: none;
}

select {
    display: inline-block;
    width: auto;
    max-width: 100%;
    margin-bottom: 0.75em;
}

.login{
  max-width:700px !important;
  margin:0 auto 100px;
}

.loginbtn{
  display: inline-block;
  width: 220px;
  padding: 15px 30px;
  border-radius: 4px;
  background: #4fe3c0;
  border: none;
  color: white;
  font-size:1em;
  font-family: "Gotham-Light";
  margin:10px 0;
}
