#mainNav{
  overflow: auto;
  padding-top: 20px;
  max-width:1200px;
  margin:0 auto;
  @media (max-width: $breakpoint-desktop) {
    width: 100%;
    padding-left:40px;
    padding-right:40px;
  }
}
#header-nav-toggle {
  color:#fff;
  font-size:2em;
  position:absolute;
  top:.5em;
  right:.5em;
  z-index:1;
  cursor:pointer;
  @media (max-width: $breakpoint-tablet) {
    display: block;
  }
}

#brand{
  margin:0;
  padding: 20px 0;
  float:left;
  @include transition15;

  &:hover{
    opacity:0.8;
  }
  h1{
    margin:0;
    padding:0;
    font-size: 0;
  }
}
#navMenu{
  margin:5px 0 0;
  padding: 0;
  float: right;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }

  li{ display:inline;}

  a{
    display:inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-bottom: 2px solid transparent;
    font-family: $font-book;
    @include transition15;
  }
  a:hover{
    border-bottom: 4px solid $turquoise;
    opacity: 0.9;
  }
  .navActive{
    border-bottom: 4px solid $turquoise;
    font-family: $font-bold;
  }
  .download{
    border: 2px solid #fff;
    border-radius: 1px;
  }
  .download:hover{
    border: 2px solid $turquoise;
    background: $turquoise;
    opacity: 1s;
  }
}
