#siteHeader{
  height: 50vh;
  margin: 0 auto;
  position: relative;

  &:after{
    background-image:url(../images/angleTop.svg);
    background-size: cover;
    content: " ";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 247px;
  }
}

#siteHeader.about{
  background: url("../images/banner-about.jpg");
  @include fullImage;
}
#siteHeader.press{
  background: url("../images/banner-press.jpg");
  @include fullImage;
}
#siteHeader.faq{
  background: url("../images/banner-faq.jpg");
  @include fullImage;
}
#siteHeader.jobs{
  background: url("../images/banner-jobs.jpg");
  @include fullImage;
}
#siteHeader.business{
  background: url("../images/banner-business.jpg");
  @include fullImage;
}
#siteHeader.policyAndTerms{
  background: url("../images/banner-policyAndTerms.jpg");
  @include fullImage;
}

#siteHeaderWrapper{
  overflow: hidden;
  width:100%;
  height:38vh;
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  h1{
    font-weight: bold;
    color: white;
  }
}
