#siteHeader{
  background-image: url(../images/heroBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:0 0;
  height: 60vh;
  margin: 0 auto;
  color: white;
  position: relative;
}
