#siteMainContent{
  padding-top:50px;
  padding-bottom:100px;
  position: relative;
  background: white;
  @media (max-width: $breakpoint-tablet) {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  &:after{
    background-image:url(../images/angleBottom.svg);
    background-size: cover;
    content: " ";
    position: absolute;
    bottom: -55px;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100px;
  }
}

.typeForm{
  text-align: center;
}

.containerSmall{
  max-width:760px;

  h5{
    font-family: $font-bold;
    padding:40px 0 20px;
  }
}
