/**********/
/* LAYOUT */
/**********/


// /*************/
// /* MODIFIERS */
// /*************/
.is-hidden {display:none;}
.is-visible {display:block;}


// /*****************/
// /* MEDIA QUERIES */
// /*****************/

  /* Header */
  #header {padding:1em; background:red;}
  #header-content {max-width:800px; margin:0 auto; overflow:hidden;}
  #header-logo {padding:0; background:none; float:left;}
  #header-nav  {padding:.5em; background:none; float:right; display:block;}
  #header-nav-toggle {display:none;}

  /* Nav */
  .nav li {width:auto; margin:0 .5em; display:inline-block;}
