#bannerIosAndroid{
  background:url("../images/banner-IosAndroid.jpg") no-repeat, 0 0;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 40px 0;
  border: none;
  position: relative;

  h3{
    font-size: 2.427em;
    @media (max-width: $breakpoint-laptop) {
      font-size: 1.4em;
    }
  }
}
