#sideNavigation{
  @include span-columns(4);

  a:link, a:visited{
    color: $coal;
    padding:10px 0;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 3.5em;
    border-bottom: 4px solid transparent;
  }
  a:hover, a:active{
    color: $mineShaft;
    border-bottom: 4px solid $turquoise;
    opacity: 0.9;
  }
  a.sideNavActive{
    border-bottom: 4px solid $turquoise;
    font-family: $font-bold;
    color: $mineShaft;
  }
} // end #sideNavigation


#mainColumn{
  @include span-columns(8);

  .contentBlock{
    overflow: auto;
    border-top: 1px solid $gray;
    padding: 80px 0;
    h3{
      margin:60px 0 40px;
    }
  }
  .contentBlock:first-child{
    border: none;
    padding-top:0;

    h3{
      margin-top:10px;
      padding-bottom: 30px;
      border-bottom: 1px solid $gray;
    }
  }
  .downloadButtons{
    text-align: center;
    margin-top:300px;
  }
  .downloadBtn{
    overflow: auto;
    display: block;
    margin-top: 20px;
    img{
      width: 200px;
    }
  }

  .valueProp{
    overflow: auto;
    display: flex;
    margin-bottom: 60px;

    &:last-child{
      border: none;
    }
    span{
      font-size: 70px;
      color: #EEEEEE;
      margin-right:-15px;
    }
    p{
      padding: 0;
      margin: 0;
    }
    .valueText{
      float: left;
    }
    img{
      float: left;
      height: 250px;
    }
  }

  .videoContainer{
    float: left;
  }
  .threeUp{
    div{
      max-height: 320px;
      overflow: hidden;
      margin-bottom: 20px;
      @include span-columns(3 of 12);
    }
  }
  .questions{
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
  }
  .post{
    padding: 20px 0 40px;
    border-bottom: 1px solid $gray;

    &:first-of-type{
      padding-top:0;
    }
  }
  .olderPosts{
    float: right;
    &:after{
      content:"⤍";
      margin-left: 10px;
    }
  }

  .review{
    margin-bottom: 40px;

    p{
      margin:0;
      line-height: 1.7em;
    }
    cite{
      color: #9099A7;

      &:before{
        content: url(../images/stars.svg);
        background-size: contain;
        margin-right: 10px;
      }
    }
  }
} // end #mainColumn
