.valuesList{
  text-align: center;
  padding-top:40px;
}
.valuesListBlock{
  border-bottom: 1px solid $gray;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 70px 0;
  @media (max-width: $breakpoint-tablet) {
    display: block;
    padding: 20px 0 50px;
  }
  &:last-child{
    border: none;
  }
  h3{
    @include span-columns(4);
    padding: 0;
    margin: 0;
    @media (max-width: $breakpoint-tablet) {
      @include span-columns(12);
    }
  }
  p{
    @include span-columns(8);
    padding: 0;
    margin: 0;
    @media (max-width: $breakpoint-tablet) {
      @include span-columns(12);
    }
  }
  span{
    font-size: 70px;
    color: #EEEEEE;
    margin-right:-15px;
  }
  li{
    list-style: circle;
    margin-bottom:10px;
  }
}
